.game_board {
  z-index: 0;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(5, 85px);
  grid-template-rows: repeat(5, 85px);
  padding: 0;
}

.game_field {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  list-style-type: none;
  background: rgba(244, 250, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.selected {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #8ee45a 0,
    #3d7f15 100%
  );
  color: #fff;
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #005a00 0 -3px 0 inset;
  transform: translateY(0px);

  border: transparent;
}

/* Timer component */
.timer_container {
  position: absolute;
  right: -250px;
  top: 0;
  text-align: center;
  font-size: 1rem;
  z-index: 1;
}

.timer_display {
  position: absolute;
  line-height: 0.9;
  top: 30%;
  width: 100%;
  height: 100%;
}

.timer_time {
  font-size: 3.75rem;
}

/* Countdown component */
.countdown_container {
  position: absolute;
  width: 100%;
  height: 110%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f4faff;
  font-size: 12rem;
  text-transform: uppercase;
  z-index: 1;
  width: 400px;
  left: -200px;
}

.countdown_display {
}

/* Result alert component */
.result_container {
  position: absolute;
  width: 100%;
  height: 15%;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.display_victory {
  width: 500px;
  border-radius: 50px;
  padding: 10px;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #a2e977 0,
    #67d723 100%
  );

  box-shadow: #005a00 0px -23px 25px 0px inset, #3d7f15 0px -36px 30px 0px inset,
    #67d723 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.1) 0px 8px 4px,
    rgba(0, 0, 0, 0.1) 0px 16px 8px, rgba(0, 0, 0, 0.1) 0px 32px 16px;
}

.display_fail {
  width: 500px;
  border-radius: 50px;
  padding: 10px;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #ff745e 0,
    #ff3a1a 100%
  );

  box-shadow: #b40000 0px -23px 25px 0px inset, #d51e00 0px -36px 30px 0px inset,
    #ff3a1a 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.1) 0px 8px 4px,
    rgba(0, 0, 0, 0.1) 0px 16px 8px, rgba(0, 0, 0, 0.1) 0px 32px 16px;
}
