@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Ranchers&display=swap");

:root {
  --neutral-black: #050506;
  --neutral-white: #fff;
  --neutral-50: #f4faff;
  --neutral-100: #cbd7e0;
  --neutral-200: #819eb3;
  --neutral-300: #6186a0;
  --neutral-400: #476376;
  --neutral-500: #344856;
  --neutral-600: #212d36;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Neucha", cursive;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Ranchers", cursive;
  font-size: 3.75rem;
  color: var(--neutral-600);
  margin: 0;
}

h1 {
  font-size: 5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

dialog {
  background-color: transparent;
  border: none;
}

* {
  box-sizing: border-box;
}

/*  ---------------------- TYPOGRAPHY ---------------------- */
.subtitle {
  font-size: 2rem;
  font-family: Neucha;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-decoration-style: "solid";
  text-decoration-color: #344856;
  text-decoration-thickness: 3px;
}

/*  ---------------------- UI SECTIONS  ---------------------- */
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  width: 100%;
}

.navbar-start {
  justify-content: right;
}

.navbar-game {
  justify-content: space-between;
}

.navbar h1 {
  font-size: 2.6rem;
  color: #344856;
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  padding: 1em;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Footer */
.main-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.main-footer-centered {
  justify-content: center;
}

/* ---------------------- BUTTONS  ---------------------- */

button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #fff 0, #f4faff 100%);
  border: 0;
  border-radius: 16px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, #84aefe 0 7px 13px -3px,
    #84aefe 0 -3px 0 inset;
  box-sizing: border-box;
  color: #012261;
  cursor: pointer;
  display: inline-flex;
  font-family: "Neucha", cursive;
  height: 52px;
  justify-content: center;
  letter-spacing: 0.1rem;
  line-height: 1;
  list-style: none;
  min-width: 160px;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 1rem;
  font-weight: 700;
}

button:disabled {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #f4faff 0,
    #c0cfda 100%
  );
  border: 0;
  border-radius: 16px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, #476376 0 7px 13px -3px,
    #344856 0 -3px 0 inset;
  color: #212d36;
}

.button-icon {
  min-width: 52px;
  width: 52px;
}

.button--primary {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #84aefe 0,
    #005adf 100%
  );
  border: 0;
  border-radius: 16px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, #005adf 0 7px 13px -3px,
    #012261 0 -3px 0 inset;
  color: #fff;
}

button.selected {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #8ee45a 0,
    #3d7f15 100%
  );
  color: #fff;
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #005a00 0 -3px 0 inset;
  transform: translateY(0px);
}

/* button containers */

.button-container {
  display: flex;
  gap: 8px;
  min-width: 120px;
  padding-bottom: 20px;
}

.button-container--centered {
  margin-left: auto;
  margin-right: auto;
}

.button-container--compressed {
  gap: 0;
}

.button-container--compressed button {
  border-radius: 0;
}

.button-container--compressed :last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.button-container--compressed :first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

/* Plant List and Items */

.plant_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.plant_list--narrow {
  width: 270px;
}

.plant_item {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.plant_item--selectable {
  cursor: pointer;
}

.plant_item img {
  margin: auto;
}

/* instructions page  */
.instructions {
  padding: 0 80px;
}
.instructions div,
.instructions ul li {
  font-size: 1.6rem;
  color: #212d36;
}

.instructions div,
.instructions ul {
  margin-top: 0;
  margin-bottom: 1.4rem;
}

.instructions ul {
  list-style: none;
}

.instructions h2 {
  margin-bottom: 2rem;
}
