.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  position: relative;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

/* Settings modal */
.modal {
  position: absolute;
  width: 75%;
  height: 15%;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #ffe298 0,
    #ffc121 100%
  );

  box-shadow: #cb9200 0px -23px 25px 0px inset, #edab00 0px -36px 30px 0px inset,
    #ffc121 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.1) 0px 8px 4px,
    rgba(0, 0, 0, 0.1) 0px 16px 8px, rgba(0, 0, 0, 0.1) 0px 32px 16px;
  border-radius: 50px;

  padding: 10px;
  z-index: 1;
}

.close {
  align-self: flex-end;
  font-size: 2.5rem;
  margin-right: 2rem;
  color: #344856;
}

.close:hover,
.close:focus,
.close:active {
  color: #a64800;
}
