.tracker_container {
  height: 100%;
  width: 100%;
  min-width: 900px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  overflow: scroll;
}

.tracker_display {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
  max-width: 60%;
  overflow: scroll;
}

.tracker_sidebar {
  backdrop-filter: blur(8px);
  background: rgba(244, 250, 255, 0.2);
  box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.37);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: start;
  -webkit-backdrop-filter: blur(8px);
  overflow: scroll;
  padding: 25px 10px;
  height: 45vh;
  overflow: scroll;
}

.filter_container {
  display: flex;
  gap: 4px;
  justify-content: space-between;
}

/* Type Filter */
.type_filter {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 20px 0;
  text-align: center;
}

.type_field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 20px;
}

.type_field input {
  cursor: pointer;
}

/* Color Filter  */
.colors_filter {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  list-style: none;
}

.color_item {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.selected {
  border: none;
  box-shadow: 0 0 0 3pt black;
  border: solid 2px black;
}

.Red {
  background: linear-gradient(145deg, #ff3a1a, #d51e00);
  box-shadow: #b40000 0 -3px 0 inset;
}

.Green {
  background: linear-gradient(145deg, #67d723, #3d7f15);
  box-shadow: #005a00 0 -3px 0 inset;
}

.Yellow {
  background: linear-gradient(145deg, #ffc121, #edab00);
  box-shadow: #cb9200 0 -3px 0 inset;
}

.Orange {
  background: linear-gradient(145deg, #ff9000, #dd7d00);
  box-shadow: #a64800 0 -3px 0 inset;
}

.Purple {
  background: linear-gradient(145deg, #c448b5, #a43597);
  box-shadow: #64205c 0 -3px 0 inset;
}

.Brown {
  background: linear-gradient(145deg, #a6682f, #763f04);
  box-shadow: #573619 0 -3px 0 inset;
}

.Blue {
  background: linear-gradient(145deg, #4082fe, #005adf);
  box-shadow: #012261 0 -3px 0 inset;
}
