.tracker_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  overflow: scroll;
}

.tracker_display {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
  max-width: 60%;
}

.tracker_sidebar {
  backdrop-filter: blur(8px);
  background: rgba(244, 250, 255, 0.2);
  box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.37);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: start;
  -webkit-backdrop-filter: blur(8px);
  overflow: scroll;
  padding: 25px 10px;
  height: 45vh;
  overflow: scroll;
}

.filter_container {
  display: flex;
  gap: 4px;
  justify-content: space-between;
}

/* Color Filter  */
.colors_list {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  list-style: none;
}

.color_item {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.selected {
  border: none;
  box-shadow: 0 0 0 3pt black;
}

.Red {
    background: linear-gradient(
      145deg,
      #FF3A1A,
      #D51E00
    );
    box-shadow: #B40000 0 -3px
      0 inset;
  }

  .Green {
    background: linear-gradient(
      145deg,
      #67D723,
      #3d7f15
    );
    box-shadow: #005A00 0 -3px
      0 inset;
  }

  .Yellow {
    background: linear-gradient(
      145deg,
      #FFC121,
      #EDAB00
    );
    box-shadow: #cb9200 0 -3px
      0 inset;
  }

  .Orange {
    background: linear-gradient(
      145deg,
      #FF9000,
      #DD7D00
    );
    box-shadow: #A64800 0 -3px
      0 inset;
  }

  .Purple {
    background: linear-gradient(
      145deg,
      #C448B5,
      #A43597
    );
    box-shadow: #64205c 0 -3px
      0 inset;
  }

  .Brown {
    background: linear-gradient(
      145deg,
      #A6682F,
      #763F04
    );
    box-shadow: #573619 0 -3px
      0 inset;
  }

  .Blue {
    background: linear-gradient(
      145deg,
      #4082FE,
      #005adf
    );
    box-shadow: #012261 0 -3px
      0 inset;
  }
`;